utils/.env
.env
myenv
model_src/__pycache__
chains/__pycache__
configs/__pycache__
state_management/__pycache__
logs/__pycache__
tests/__pycache__
utils/__pycache__
modelutils2.py
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend_django/apis/model_src/chains/prompts/__pycache__
chain_logs.log